$small: 24em;
$med: 46.8em;
$large: 50em;
$xl: 73em;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.site {
  }
  
.site-header {
  background: lightcoral;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      background: tomato;
      flex-direction: row;
      }
  }
  
.site-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
    @media all and (min-width: $large) {
      flex-direction: row;
      }
  }
  
.content-area {
  background: lightcoral;
  padding: 20px;
  flex: 1;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      flex: 2 0 66%;
      background: deepskyblue;
      }
  }
  
.sidebar {
  background: lightcoral;
  padding: 20px;
  flex: 1;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      flex: 1 0 33%;
      background: goldenrod;
      }
  }
    
.site-footer {
  background: lightcoral;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      flex-direction: row;
      background: lightgreen;
      }
  }
  
  
  
  
  
  
  
  
  
  
  