html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
  
.site-branding {
  background: lightcoral;
  display: flex;
  flex-direction: column;
  align-items: center;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      background: tomato;
      }
  }
  
.site-title {
  margin-top: 4px;
  
  @media all and (min-width: $med) {
      margin-top: 14px;
      }
      
    @media all and (min-width: $large) {
      margin-top: 24px;
      }
  }

.main-navigation ul {
  background: yellow;
  padding: 0px 40px; // resets webkit padding
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
   li a {
     margin-right: 20px;
     }
  }
    
.site-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  
    @media all and (min-width: $large) {
      flex-direction: row;
      }
  }
  
.content-area {
  background: lightcoral;
  padding: 20px;
  flex: 1;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      flex: 2 0 66%;
      background: deepskyblue;
      }
  }
  
.sidebar {
  background: lightcoral;
  padding: 20px;
  flex: 1;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      flex: 1 0 33%;
      background: goldenrod;
      }
  }
    
.site-footer {
  background: lightcoral;
  padding: 20px;
  display: flex;
  flex-direction: column;
  
    @media all and (min-width: $med) {
      background: lightblue;
      }
      
    @media all and (min-width: $large) {
      flex-direction: row;
      background: lightgreen;
      }
  }
  
  
  
  
  
  
  
  
  
  
  