//Style

//colors
$red: #c0392b;
$belize: #2980b9;
$clouds: #ecf0f1;
$silver: #7f8c8d;
$darkCharcoal: #292929;

//break points
$small: 24em;
$med: 48em;
$large: 55em;
$xl: 73em;

// Frameworks

@import "normalize-v3.0.1.scss";
@import "typography.scss";

// scss folder

@import "typography.scss";
@import "layout.scss";
@import "navigation.scss";
@import "images.scss";
